Repository zurychhh/QuickSparks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @api-team, @conversion-team, @core-team, @frontend-team, @devops-team, @documentation-team, @quality-team

Implement Vercel proxy solution for API connection issues
  packages/frontend/src/components/ui/ConversionForm.tsx
  packages/frontend/src/components/ui/ServiceStatus.tsx
  packages/frontend/src/services/proxyApiService.ts
  packages/frontend/src/services/proxyWebSocketService.ts
  packages/frontend/vercel.json
Owners: @project-lead

Force Vercel deployment with updated status
  packages/frontend/public/deploy-status.json
Owners: @project-lead

Prepare for production deployment: add health checks, configure CORS, and optimize gateway routing
  DEPLOYMENT_NOTES.md
  deploy-scripts/deploy-vercel.js
  gateway/routes/pdf-routes.js
  gateway/server.js
  render.yaml
  services/image-service/index.js
  services/pdf-service/index.js
  services/qr-service/index.js
  vercel.json
Owners: @project-lead, @api-team, @conversion-team

Fix Docker deployment: Add package.json for all microservices
  Dockerfile
  services/image-service/package.json
  services/pdf-service/package.json
  services/qr-service/package.json
Owners: @devops-team, @conversion-team

Update deployment notes with package.json changes
  DEPLOYMENT_NOTES.md
Owners: @project-lead

Enhance production deployment stability
  DEPLOYMENT_CHECKLIST.md
  gateway/server.js
  packages/frontend/index.html
  packages/frontend/src/components/ui/ConversionForm.tsx
  packages/frontend/src/services/proxyApiService.ts
  packages/frontend/src/utils/fileValidation.ts
  packages/frontend/src/utils/sanitize.ts
  packages/frontend/vite.config.ts
Owners: @project-lead, @api-team

Fix Render deployment configuration
  render.yaml
Owners: @project-lead

Fix Docker build process for all services
  Dockerfile
Owners: @devops-team

Fix Docker service paths in CMD directives
  Dockerfile
Owners: @devops-team

Fix mixed content security issues with API connections
  packages/frontend/src/config/api.config.ts
  packages/frontend/src/utils/apiLoadBalancer.ts
Owners: @project-lead

Fix setError reference error in ConversionForm component
  packages/frontend/src/components/ui/ConversionForm.tsx
Owners: @project-lead

Fix mixed content security issues with API health checks
  packages/frontend/src/components/ui/ApiHealthMonitor.tsx
  packages/frontend/src/utils/apiLoadBalancer.ts
Owners: @project-lead

Add Google Search Console verification meta tag
  packages/frontend/index.html
Owners: @project-lead

Add Vite plugin to ensure Google verification tag is preserved during build
  packages/frontend/package.json
  packages/frontend/vite.config.ts
Owners: @project-lead

Add Google Search Console verification file
  packages/frontend/public/googlefaa9d441c86b843b.html
Owners: @project-lead

Enhance Google Search Console verification for meta tag and verification file
  packages/frontend/fix-build.mjs
  packages/frontend/index.html
  packages/frontend/pdfspark-deploy.mjs
  packages/frontend/vite.config.ts
Owners: @project-lead

Add comprehensive Google Search Console verification support via multiple methods
  packages/frontend/fix-build.mjs
  packages/frontend/package.json
  packages/frontend/post-build-verification.mjs
  vercel.json
Owners: @project-lead

Improve API connectivity by expanding CORS config and adding debugging tools
  packages/frontend/public/debug.html
  vercel.json
Owners: @project-lead

Fix Google verification by ensuring meta tag in HTML head and verification file
  packages/frontend/fix-vercel-deployment.mjs
  packages/frontend/googlefaa9d441c86b843b.html
  packages/frontend/package.json
  packages/frontend/post-build-verification.mjs
Owners: @project-lead

Add multiple Google verification methods in static routes
  packages/frontend/fix-vercel-deployment.mjs
  packages/frontend/google-verification.html
  packages/frontend/public/google-verification.html
  vercel.json
Owners: @project-lead

Add PaintMate privacy policy and routes
  packages/frontend/public/documents/privacy-policy.html
  vercel.json
Owners: @project-lead

Update privacy policy path in Vercel config
  packages/frontend/public/legal/paintmate-privacy.html
  vercel.json
Owners: @project-lead

Add redirect from /privacy to proper privacy policy
  packages/frontend/public/privacy.html
  vercel.json
Owners: @project-lead

Revert "Add PaintMate privacy policy and routes"
  packages/frontend/public/documents/privacy-policy.html
  vercel.json
Owners: @project-lead

Revert "Add comprehensive Google Search Console verification support via multiple methods"
  packages/frontend/fix-build.mjs
  packages/frontend/package.json
  packages/frontend/post-build-verification.mjs
  vercel.json
Owners: @project-lead

Revert "Add Vite plugin to ensure Google verification tag is preserved during build"
  packages/frontend/package.json
  packages/frontend/vite.config.ts
Owners: @project-lead

Revert "Enhance Google Search Console verification for meta tag and verification file"
  packages/frontend/fix-build.mjs
  packages/frontend/index.html
  packages/frontend/pdfspark-deploy.mjs
  packages/frontend/vite.config.ts
Owners: @project-lead

Revert "Add Google Search Console verification meta tag"
  packages/frontend/index.html
Owners: @project-lead

Revert "Improve API connectivity by expanding CORS config and adding debugging tools"
  packages/frontend/public/debug.html
  vercel.json
Owners: @project-lead

Revert "Fix Google verification by ensuring meta tag in HTML head and verification file"
  packages/frontend/fix-vercel-deployment.mjs
  packages/frontend/googlefaa9d441c86b843b.html
  packages/frontend/package.json
  packages/frontend/post-build-verification.mjs
Owners: @project-lead

Revert "Add redirect from /privacy to proper privacy policy"
  packages/frontend/public/privacy.html
  vercel.json
Owners: @project-lead

Revert "Update privacy policy path in Vercel config"
  packages/frontend/public/legal/paintmate-privacy.html
  vercel.json
Owners: @project-lead

Revert "Add Google Search Console verification file"
  packages/frontend/public/googlefaa9d441c86b843b.html
Owners: @project-lead

Revert "Add multiple Google verification methods in static routes"
  packages/frontend/fix-vercel-deployment.mjs
  packages/frontend/google-verification.html
  packages/frontend/public/google-verification.html
  vercel.json
Owners: @project-lead

.github/CODEOWNERS:

# This file defines the code owners for different parts of the repository
# Code owners are automatically requested for review when someone opens a pull request

# Default owners for everything
* @project-lead

# Gateway service
/gateway/ @api-team

# PDF conversion service
/services/pdf-service/ @conversion-team
/packages/pdf-service-test/ @conversion-team

# Image conversion service
/services/image-service/ @conversion-team

# QR code service
/services/qr-service/ @conversion-team

# Shared packages
/packages/shared/ @core-team
/packages/ui-components/ @frontend-team

# CI/CD configuration
/.github/ @devops-team
/docker-compose.yml @devops-team
/Dockerfile @devops-team

# Documentation
/docs/ @documentation-team

# Tests
/tests/ @quality-team
