Repository zurychhh/QuickSparks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @api-team, @conversion-team, @core-team, @frontend-team, @devops-team, @documentation-team, @quality-team

Fix deploy script to check Router in main.tsx
  packages/frontend/final-deploy.mjs
Owners: @project-lead

Add deployment logs and conversion service build with CORS fix
  packages/conversion-service-cors.zip
  packages/frontend/deployment-logs/last-successful-deploy.json
  packages/frontend/deployment-logs/url-check-2025-03-27T16-31-48.914Z.json
  packages/frontend/deployment-logs/url-check-2025-03-27T16-31-55.013Z.json
  packages/frontend/deployment-logs/url-check-2025-03-27T16-31-58.985Z.json
  packages/frontend/deployment-logs/url-check-2025-03-27T16-40-58.507Z.json
  packages/frontend/deployment-logs/url-check-2025-03-27T16-41-03.221Z.json
  packages/frontend/deployment-logs/url-check-2025-03-27T16-41-06.907Z.json
  packages/frontend/deployment-logs/url-check-2025-03-27T16-41-12.092Z.json
Owners: @project-lead

Przywrócenie względnych ścieżek w konfiguracji
  packages/frontend/final-deploy.mjs
  packages/frontend/src/main.tsx
  packages/frontend/vite.config.ts
Owners: @project-lead

Add verification logs
  packages/frontend/deployment-logs/url-check-2025-03-27T16-47-56.217Z.json
Owners: @project-lead

Implement backward-compatible file encryption system
  packages/conversion-service/src/controllers/conversionController.ts
  packages/conversion-service/src/utils/encryption/FileEncryption.ts
  packages/conversion-service/src/utils/errorHandling.ts
  packages/conversion-service/src/utils/fileStreaming.ts
  packages/conversion-service/src/utils/streamUtils.ts
Owners: @project-lead

Add file validation to encryption process
  packages/conversion-service/src/utils/encryption/FileEncryption.ts
Owners: @project-lead

Fix CORS configuration and enhance security headers
  packages/frontend/vercel.json
  vercel.json
Owners: @project-lead

Replace localStorage tokens with secure HttpOnly cookies and add CSRF protection
  packages/conversion-service/src/index.ts
  packages/conversion-service/src/middleware/auth.ts
  packages/conversion-service/src/middleware/csrf.ts
  packages/conversion-service/src/routes/auth.routes.ts
  packages/conversion-service/src/routes/index.ts
  packages/frontend/src/components/layout/Navbar.tsx
  packages/frontend/src/services/api.ts
Owners: @project-lead

Implement Phase 2 stability improvements
  packages/frontend/.eslintrc.module.cjs
  packages/frontend/MODULE-STANDARDS.md
  packages/frontend/STABILITY-IMPROVEMENTS.md
  packages/frontend/package.json
  packages/frontend/scripts/fix-module-imports.mjs
  packages/frontend/scripts/standardize-imports.mjs
  packages/frontend/src/components/ui/ConversionStatus.tsx
  packages/frontend/src/components/ui/WebSocketStatus.tsx
  packages/frontend/src/config/api.config.ts
  packages/frontend/src/context/AuthContext.tsx
  packages/frontend/src/context/WebSocketContext.tsx
  packages/frontend/src/hooks/useErrorHandler.ts
  packages/frontend/src/pages/Conversion.tsx
  packages/frontend/src/services/websocket.ts
  packages/frontend/src/utils/errorHandler.ts
Owners: @project-lead

Implement stream-based file processing in conversion services
  packages/conversion-service/src/jobs/conversionProcessor.ts
  packages/conversion-service/src/services/docxToPdfService.ts
  packages/conversion-service/src/services/pdfToDocxService.ts
Owners: @project-lead

Implement memory tracking and streaming in file operations
  packages/services/api/src/middleware/streamedFileUpload.ts
  packages/services/api/src/utils/fileStorage.ts
Owners: @project-lead

Update GitHub Actions workflows for deployment
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-frontend.yml
Owners: @devops-team

Add Docker configuration for production deployment
  docker-compose.yml
  packages/conversion-service/Dockerfile
  packages/frontend/Dockerfile
  packages/frontend/nginx.conf
  packages/services/api/Dockerfile
Owners: @devops-team, @project-lead

Add Render deployment configuration
  render.yaml
Owners: @project-lead

Add deployment scripts for Vercel and GitHub
  deploy-scripts/README.md
  deploy-scripts/deploy-vercel.js
  deploy-scripts/setup-github.js
Owners: @project-lead

Initial commit
  .gitignore
  apibackendsolution.md
  packages/frontend/verify-backend-integration.sh
Owners: @project-lead

Update package dependencies for frontend and project root
  package-lock.json
  package.json
  packages/frontend/package-lock.json
  packages/frontend/package.json
  pnpm-lock.yaml
Owners: @project-lead

Fix frontend rendering and API connection issues
  packages/frontend/index.html
  packages/frontend/src/components/ApiHealthMonitor.tsx
  packages/frontend/src/pages/Conversion.tsx
  packages/frontend/src/services/api.ts
  packages/frontend/src/utils/fetchWithRetry.ts
  packages/frontend/src/utils/fileValidation.ts
  packages/frontend/src/utils/pollingStrategy.ts
  packages/frontend/src/utils/sanitize.ts
  packages/frontend/src/utils/stateManagement.ts
  packages/frontend/vercel.json
  packages/frontend/vite.config.ts
Owners: @project-lead

Update frontend for subdirectory deployment
  packages/frontend/index.html
  packages/frontend/src/main.tsx
  packages/frontend/vercel.json
  packages/frontend/vite.config.ts
Owners: @project-lead

Fix resource paths in index.html for compatibility with Vite build
  packages/frontend/index.html
Owners: @project-lead

Add basename comment in App.tsx for deployment validation
  packages/frontend/src/App.tsx
Owners: @project-lead

Update deployment script to check for Router basename in main.tsx
  packages/frontend/deploy-production.mjs
Owners: @project-lead

Fix redirects initialization in deploy script
  packages/frontend/fix-dist-structure.mjs
Owners: @project-lead

Fix Vercel config conflict between routes and rewrites
  packages/frontend/fix-dist-structure.mjs
Owners: @project-lead

Simplify Vercel deployment configuration
  packages/frontend/fix-dist-structure.mjs
  packages/frontend/simple-vercel.json
Owners: @project-lead

Simplify Vercel configuration to avoid conflicts
  packages/frontend/simple-vercel.json
Owners: @project-lead

Update API configuration with real backend IP addresses
  packages/frontend/simple-vercel.json
  packages/frontend/src/config/api.config.ts
  packages/frontend/src/utils/apiLoadBalancer.ts
Owners: @project-lead

Fix Docker build issues for Render deployment
  Dockerfile
  packages/conversion-service/Dockerfile
  packages/conversion-service/pre-build.sh
  render-deploy.sh
Owners: @devops-team, @project-lead

Add deployment verification logs and build info
  packages/frontend/build-verification.txt
  packages/frontend/deployment-logs/last-successful-deploy.json
  packages/frontend/deployment-logs/vercel-direct-check-2025-03-30T11-04-38.478Z.json
  packages/frontend/deployment-logs/vercel-direct-check-2025-03-30T11-17-29.178Z.json
  packages/frontend/deployment-logs/verification-2025-03-30T11-04-31.614Z.json
  packages/frontend/public/build-info.json
Owners: @project-lead

Add implementation fixes summary document
  IMPLEMENTATION_FIXES.md
Owners: @project-lead

Update package-lock.json for Render deployment
  package-lock.json
Owners: @project-lead

Implement robust API error handling and WebSocket fallback
  packages/frontend/simple-vercel.json
  packages/frontend/src/services/api.ts
  packages/frontend/src/services/websocket.ts
  packages/frontend/src/utils/apiLoadBalancer.ts
Owners: @project-lead

Force Vercel deployment with updated status
  packages/frontend/public/deploy-status.json
Owners: @project-lead

Implement comprehensive API connection fixes
  packages/frontend/src/components/layout/Layout.tsx
  packages/frontend/src/components/ui/ErrorBanner.tsx
  packages/frontend/src/config/api.config.ts
  packages/frontend/src/store/subscriptionStore.ts
  packages/frontend/src/utils/ConversionStatusSocket.ts
  packages/frontend/src/utils/conversionStatusPoller.ts
  packages/frontend/src/utils/healthCheck.ts
  packages/frontend/vercel.json
Owners: @project-lead

Force Vercel deployment with updated status
  packages/frontend/public/deploy-status.json
Owners: @project-lead

Implement comprehensive API connection fixes
  packages/frontend/src/components/ui/ConversionForm.tsx
  packages/frontend/src/components/ui/ServiceStatus.tsx
  packages/frontend/src/pages/Conversion.tsx
  packages/frontend/src/services/apiService.ts
Owners: @project-lead

Force Vercel deployment with updated status
  packages/frontend/public/deploy-status.json
Owners: @project-lead

Force Vercel deployment with updated status
  packages/frontend/public/deploy-status.json
Owners: @project-lead

Implement remote logging system for production debugging
  packages/conversion-service/src/routes/debug.routes.ts
  packages/conversion-service/src/routes/index.ts
  packages/frontend/src/main.tsx
  packages/frontend/src/services/apiService.ts
  packages/frontend/src/utils/remoteLogger.ts
Owners: @project-lead

Force Vercel deployment with updated status
  packages/frontend/public/deploy-status.json
Owners: @project-lead

.github/CODEOWNERS:

# This file defines the code owners for different parts of the repository
# Code owners are automatically requested for review when someone opens a pull request

# Default owners for everything
* @project-lead

# Gateway service
/gateway/ @api-team

# PDF conversion service
/services/pdf-service/ @conversion-team
/packages/pdf-service-test/ @conversion-team

# Image conversion service
/services/image-service/ @conversion-team

# QR code service
/services/qr-service/ @conversion-team

# Shared packages
/packages/shared/ @core-team
/packages/ui-components/ @frontend-team

# CI/CD configuration
/.github/ @devops-team
/docker-compose.yml @devops-team
/Dockerfile @devops-team

# Documentation
/docs/ @documentation-team

# Tests
/tests/ @quality-team
