Repository zurychhh/QuickSparks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-lead, @api-team, @conversion-team, @core-team, @frontend-team, @devops-team, @documentation-team, @quality-team

.github/CODEOWNERS:

# This file defines the code owners for different parts of the repository
# Code owners are automatically requested for review when someone opens a pull request

# Default owners for everything
* @project-lead

# Gateway service
/gateway/ @api-team

# PDF conversion service
/services/pdf-service/ @conversion-team
/packages/pdf-service-test/ @conversion-team

# Image conversion service
/services/image-service/ @conversion-team

# QR code service
/services/qr-service/ @conversion-team

# Shared packages
/packages/shared/ @core-team
/packages/ui-components/ @frontend-team

# CI/CD configuration
/.github/ @devops-team
/docker-compose.yml @devops-team
/Dockerfile @devops-team

# Documentation
/docs/ @documentation-team

# Tests
/tests/ @quality-team

Complete task 3.2: Configure code quality tools
  .editorconfig
  .eslintrc.js
  .gitignore
  .husky/_/husky.sh
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  docs/code-quality.md
  package.json
Owners: @project-lead, @documentation-team

Create basic project structure
  docs/project-structure.md
  package.json
  scripts/README.md
  scripts/create-component.js
  scripts/create-feature.sh
  scripts/create-microservice.js
  scripts/db-setup.js
  scripts/dev.sh
  scripts/release.sh
  scripts/setup-environment.sh
  services/README.md
  shared/README.md
  shared/config/default.js
  shared/config/index.js
  shared/middlewares/error-handler.js
  shared/middlewares/logger.js
  shared/utils/file-utils.js
  shared/utils/logger.js
  tests/README.md
Owners: @documentation-team, @project-lead, @quality-team

Design simplified MVP architecture and core systems
  docs/data-model.md
  docs/file-security.md
  docs/mvp-architecture.md
  docs/payment-system.md
Owners: @documentation-team

Create detailed micro-backlog and project planning artifacts
  docs/acceptance-criteria.md
  docs/github-projects-setup.md
  docs/micro-backlog.md
  docs/milestones.md
  docs/task-priorities.md
Owners: @documentation-team

Complete Task 6: Frontend basics implementation
  .eslintrc.js
  .husky/_/husky.sh
  PDFSPARK_TASKLIST.md
  packages/frontend/index.html
  packages/frontend/package.json
  packages/frontend/postcss.config.js
  packages/frontend/public/favicon.svg
  packages/frontend/public/logo.svg
  packages/frontend/src/App.tsx
  packages/frontend/src/components/layout/Footer.tsx
  packages/frontend/src/components/layout/Layout.tsx
  packages/frontend/src/components/layout/Navbar.tsx
  packages/frontend/src/components/ui/Button.test.tsx
  packages/frontend/src/components/ui/Button.tsx
  packages/frontend/src/components/ui/Card.tsx
  packages/frontend/src/components/ui/Input.tsx
  packages/frontend/src/index.css
  packages/frontend/src/main.tsx
  packages/frontend/src/pages/About.tsx
  packages/frontend/src/pages/Conversion.tsx
  packages/frontend/src/pages/Home.tsx
  packages/frontend/src/pages/NotFound.tsx
  packages/frontend/src/pages/Pricing.tsx
  packages/frontend/src/test/setup.ts
  packages/frontend/src/utils/classnames.ts
  packages/frontend/tailwind.config.js
  packages/frontend/tsconfig.json
  packages/frontend/tsconfig.node.json
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
Owners: @project-lead

Fix ESLint configuration for frontend path aliases
  packages/frontend/.eslintrc.cjs
Owners: @project-lead

Fix ESLint use-before-define errors in Navbar component
  packages/frontend/src/components/layout/Navbar.tsx
Owners: @project-lead

Add return type to classNames utility function
  packages/frontend/src/utils/classnames.ts
Owners: @project-lead

Add return type to HomePage component
  packages/frontend/src/pages/Home.tsx
Owners: @project-lead

Add return type to NotFoundPage component
  packages/frontend/src/pages/NotFound.tsx
Owners: @project-lead

Add return type to Footer component
  packages/frontend/src/components/layout/Footer.tsx
Owners: @project-lead

Add return type to Layout component
  packages/frontend/src/components/layout/Layout.tsx
Owners: @project-lead

Document ESLint fixes
  ESLint_ISSUES_FIXED.md
Owners: @project-lead

Complete Task 7: Backend Basics Implementation
  packages/services/api/.env.example
  packages/services/api/README.md
  packages/services/api/package.json
  packages/services/api/src/config/database.ts
  packages/services/api/src/config/env.ts
  packages/services/api/src/controllers/auth.controller.ts
  packages/services/api/src/controllers/conversion.controller.ts
  packages/services/api/src/index.ts
  packages/services/api/src/middleware/auth.ts
  packages/services/api/src/middleware/compression.ts
  packages/services/api/src/middleware/rateLimit.ts
  packages/services/api/src/middleware/security.ts
  packages/services/api/src/middleware/validation.ts
  packages/services/api/src/models/conversion.model.ts
  packages/services/api/src/models/file.model.ts
  packages/services/api/src/models/user.model.ts
  packages/services/api/src/routes/auth.routes.ts
  packages/services/api/src/routes/conversion.routes.ts
  packages/services/api/src/routes/index.ts
  packages/services/api/src/schemas/conversion.schema.ts
  packages/services/api/src/schemas/user.schema.ts
  packages/services/api/src/utils/apiResponse.ts
  packages/services/api/src/utils/errorHandler.ts
  packages/services/api/tsconfig.json
Owners: @project-lead

Add backend status documentation
  BACKEND_STATUS.md
Owners: @project-lead

Add CI/CD and Vercel deployment configuration
  .github/workflows/ci.yml
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/preview.yml
  BACKEND_IMPLEMENTATION_PLAN.md
  CI_CD_IMPLEMENTATION.md
  DOCUMENTATION.md
  ESLint_ISSUES.md
  FRONTEND_STATUS.md
  PDFSPARK_TASKLIST.md
  README.md
  VERCEL_DEPLOYMENT.md
  docs/deployment.md
  package.json
  packages/frontend/.env.example
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/ui/Button.tsx
  packages/frontend/src/main.tsx
  packages/frontend/src/pages/Health.tsx
  packages/frontend/src/utils/sentry.ts
  packages/frontend/vercel.json
  packages/services/api/.env.example
  packages/services/api/src/index.ts
  packages/services/api/src/routes/health.routes.ts
  packages/services/api/src/routes/index.ts
  packages/services/api/src/utils/sentry.ts
  pnpm-lock.yaml
  vercel.json
Owners: @devops-team, @project-lead, @documentation-team

Fix Vercel deployment issues with TypeScript
  VERCEL_DEPLOYMENT.md
  packages/frontend/package.json
  packages/frontend/src/env.d.ts
  packages/frontend/tsconfig.json
  packages/frontend/vercel.json
  vercel.json
Owners: @project-lead

Fix cn utility function in classnames.ts
  packages/frontend/src/utils/classnames.ts
Owners: @project-lead

Fix Sentry browser import error
  packages/frontend/build-test.mjs
  packages/frontend/package.json
  packages/frontend/src/utils/sentry.ts
Owners: @project-lead

Implement file upload functionality with Drag & Drop
  packages/frontend/package.json
  packages/frontend/src/components/ui/FilePreview.tsx
  packages/frontend/src/components/ui/FileUpload.tsx
  packages/frontend/src/components/ui/UploadProgress.tsx
  packages/frontend/src/pages/Conversion.tsx
  packages/frontend/src/services/api.ts
Owners: @project-lead

Fix build failure: Add missing FileViewer component and dependencies
  packages/frontend/package.json
  packages/frontend/src/components/ui/FileViewer.tsx
Owners: @project-lead

Update Vercel configuration and metadata for automatic deployments
  packages/frontend/index.html
  vercel.json
Owners: @project-lead

Add deployment monitoring file for tracking deployments
  packages/frontend/public/deploy-status.json
Owners: @project-lead

Fix Vercel build by adding robust build scripts and fallbacks
  .vercelignore
  packages/frontend/package.json
  packages/frontend/src/components/ui/FileViewer.tsx.vercel
  packages/frontend/vercel-build.mjs
  packages/frontend/vercel-deploy.mjs
  vercel.json
Owners: @project-lead

Force Vercel deployment with updated status
  packages/frontend/public/deploy-status.json
Owners: @project-lead

Add direct Vercel deployment solutions that bypass GitHub integration issues
  packages/frontend/direct-deploy.sh
  packages/frontend/package.json
  packages/frontend/src/components/ui/ConversionPage-fix.mjs
Owners: @project-lead

Fix Vercel deployment script to auto-confirm deployment
  packages/frontend/direct-deploy.sh
Owners: @project-lead

Add standalone Vercel deployment script for more reliable deployments
  packages/frontend/package.json
  packages/frontend/vercel-standalone.mjs
Owners: @project-lead

Add minimal static deployment solution for Vercel
  packages/frontend/minimal-deploy.mjs
  packages/frontend/package.json
Owners: @project-lead

Fix vercel.json in minimal deployment script
  packages/frontend/minimal-deploy.mjs
Owners: @project-lead

Add comprehensive Vercel deployment instructions
  packages/frontend/VERCEL_DEPLOY_INSTRUCTIONS.md
Owners: @project-lead

Implement purchase flow components and routing
  packages/frontend/src/App.tsx
  packages/frontend/src/components/layout/Navbar.tsx
  packages/frontend/src/components/ui/Cart.tsx
  packages/frontend/src/components/ui/DownloadManager.tsx
  packages/frontend/src/pages/Account.tsx
  packages/frontend/src/pages/Checkout.tsx
  packages/frontend/src/pages/CheckoutSuccess.tsx
  packages/frontend/src/pages/Home.tsx
  packages/frontend/src/pages/ProductPage.tsx
Owners: @project-lead

Add visual feedback and responsive design (tasks 14.3, 14.4, 14.5)
  packages/frontend/src/components/ui/Button.tsx
  packages/frontend/src/components/ui/ConversionOptions.tsx
  packages/frontend/src/components/ui/ConversionSteps.tsx
  packages/frontend/src/components/ui/FeedbackAnimation.tsx
  packages/frontend/src/context/FeedbackContext.tsx
  packages/frontend/src/main.tsx
  packages/frontend/src/pages/Conversion.tsx
  packages/frontend/tailwind.config.js
Owners: @project-lead

Optimize UI components for better performance
  packages/frontend/src/components/ui/ConversionOptions.test.tsx
  packages/frontend/src/components/ui/ConversionOptions.tsx
  packages/frontend/src/components/ui/ConversionSteps.test.tsx
  packages/frontend/src/components/ui/ConversionSteps.tsx
  packages/frontend/src/components/ui/FeedbackAnimation.test.tsx
  packages/frontend/src/components/ui/FeedbackAnimation.tsx
  packages/frontend/src/context/FeedbackContext.test.tsx
  packages/frontend/src/context/FeedbackContext.tsx
Owners: @project-lead

Fix import paths for better build compatibility
  packages/frontend/src/components/ui/FileUpload.tsx
  packages/frontend/src/pages/Conversion.tsx
Owners: @project-lead

Implement Task 17: Controlled Deployment
  packages/frontend/fix-dist-structure.mjs
  packages/frontend/public/robots.txt
  packages/frontend/public/sitemap.xml
  packages/frontend/src/App.tsx
  packages/frontend/src/hooks/useABTesting.ts
  packages/frontend/src/utils/ab-testing.ts
  packages/frontend/src/utils/ab-tests.ts
  packages/frontend/src/utils/analytics.ts
  packages/frontend/tools/generate-dashboard.mjs
  packages/frontend/tools/verify-deployment.mjs
Owners: @project-lead

Fix critical issues in Conversion Page functionality
  packages/frontend/CONVERSION_PAGE_ISSUES.md
  packages/frontend/src/components/ui/FilePreview.tsx
  packages/frontend/src/pages/Conversion.tsx
  packages/frontend/tests/ConversionPage.test.tsx
Owners: @project-lead

Add deployment report and simplified deployment scripts
  packages/frontend/DEPLOYMENT_REPORT.md
  packages/frontend/simple-deploy.mjs
  packages/frontend/vercel-simple.json
Owners: @project-lead

Fix deployment and update URL
  packages/frontend/DEPLOYMENT_REPORT.md
  packages/frontend/direct-deploy.sh
Owners: @project-lead

Fix deployment routing and update verification
  packages/frontend/DEPLOYMENT_REPORT.md
  packages/frontend/correct-deploy.sh
Owners: @project-lead
